@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.font-face-fw {
 font-family: "FLOODWATER";
 font-size: 200px;
}

.start-btn{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: #001216;
    text-shadow: -2px -2px cyan, 1px 1px blue;
    color: white;
    -webkit-border-radius: 7px;
 	-moz-border-radius: 7px;
 	-o-border-radius: 7px;
 	border-radius: 7px;
    box-shadow: 0 .2em #03879E;
    cursor: pointer;
}

.start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.App-header {
  background-image: url("background.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: cover;
}
