@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.start {
  text-align: center;
}

.start-title {
 font-family: "FLOODWATER";
 font-size: 200px;
}

.start-header {
  background-image: url("gamebackground.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-size: cover;
}
