@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.start {
  text-align: center;
}

.start-title {
 font-family: "FLOODWATER";
 font-size: 200px;
}

.start-header {
  background-image: url("gamebackground.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-size: cover;
}

.blink {
 animation-name: blinker;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 color: white;
}

@keyframes blinker {
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
}
